@import '.';

.header {
  display: table;
  position: relative;
  width: calc(100% - 4rem);
  height: 49px;
  margin: 0 2rem;
  margin-bottom: 80px;
  background: var(--color-economist);
}

.header__home {
  width: 49px;
}

/* stylelint-disable selector-no-type */
/* only an example */

.sharebar-example h2 {
  margin: 0 2rem;
}

.header__home use {
  fill: #fff;
}

/* stylelint-enable selector-no-type */

.header__spacer {
  width: calc(100% - (49px * 2));
  background: var(--color-beijing);
}

.header__share {
  width: 49px;
}

.header__home,
.header__spacer,
.header__share {
  display: table-cell;
  line-height: 0;
}
